h1{
    margin: 0 0 20px;
}
.test1{
    border: 3px groove green;
    margin-bottom: 4px;
}
 .test2{
    border: 3px solid black;
    margin: 10px 20px 30px 60px;
}

#third{

    text-align: center;
    width: 400px;
    border: 4px solid red;
    margin: auto 250px;
}